package {
    name "http-client" 
    author "Brendan Hansen" 
    url "git://onyxlang.io/repo/http-client" 
    description "A versatile HTTP client" 
    version "0.0.29" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

dependencies {
    openssl "0.0.6" git="https://github.com/onyx-lang/pkg-openssl" 
}

